/* MovieForm.css */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-left: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button:hover {
  background-color: #45a049;
}
