/* MovieItem.module.css */
.movie-item {
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #77ade0;
}

.delete-button {
  cursor: pointer;
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

.delete-button:focus {
  outline: none;
}

.delete-button:hover,
.delete-button:active {
  background-color: #460897;
  border-color: #460897;
}
